
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--header-hamburger-background);
    height: 8vh;
}
.subnav {
    color: whitesmoke;
    font-family: 'Source Code Pro', monospace;
    font-size: large;
    font-weight: 500;
}
.subnav:hover {
    color: #3C4048;
    text-decoration: none;
}
.active {
    color: #3C4048;
}