* {
    box-sizing: border-box;
}
.main {
    display: flex;
    margin: auto;
    width: 72%;
    height: 100px;
    padding-bottom: 20px;
}
.main div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #863a6f;
}
@media screen and (max-width: 940px) {
    .main {
        width: 92%;
    }
}
@media screen and (max-width: 640px) {
    .main {
        flex-wrap: wrap;
    }
    .main div {
        justify-content: flex-start;
        width: 33%;
    }
}