* {
    box-sizing: border-box;
}
.main {
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin-top: 24px;
}
.quantBtn {
    border: none;
    background-color: purple;
    color: white;
    padding: 4px 10px;
    box-shadow: 0px 6px 23px 0px #000000ad;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}
.quantBtn:hover {
    background-color: white;
    color: purple;
    transform: translateY(-7px);
}