.sHeading {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    color: var(--sHeading-text);
}
body {
    background-color: var(--bg-component);
}
.sHeading2 {
    font-family: 'Roboto Mono', monospace;
    font-size: x-large;
    margin-top: 24px;
    color: var(--sHeading-text);
}
.sMain {
    display: flex;
    align-items: center;
}
.sRightBox img{
    width: 100%;
    border-radius: 9px;
    /* margin-top: 12px; */
    /* margin-left: 14px; */
}

.htmlBox {
    border-radius: 5px;
    background: -webkit-linear-gradient(left, darkcyan, white);
    width: 90%;
    height: 22px;
}
.sLeftBox {
    font-family: 'Roboto Mono', monospace;
    color: var(--tagline-text);
}

@media only screen and (max-width: 988px) {
    .sMain {
        display: flex;
        flex-direction: column-reverse;
    }
    .sLeftBox {
        margin-top: 24px;
    }
}

.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: -9px;
    color: var(--tagline-text);
    font-size: 18px;
}
.progress-bar {
    background-color: var(--bg-progress);
    /* width: 600px; */
    height: 40px;
    border-radius: 5px;
}
.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}
.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.html {
    background: var(--highlighted-text);
    animation: html 1s linear forwards;
}
.html span {
    border: 1px solid var(--highlighted-text);
}
.css {
    background: var(--highlighted-text);
    animation: css 1s linear forwards;
}
.css span {
    border: 1px solid var(--highlighted-text);
}
.javascript {
    background: var(--highlighted-text);
    animation: javascript 1s linear forwards;
}
.javascript span {
    border: 1px solid var(--highlighted-text);
}
.jquery {
    background: var(--highlighted-text);
    animation: jquery 1s linear forwards;
}
.jquery span {
    border: 1px solid var(--highlighted-text);
}
.react {
    background: var(--highlighted-text);
    animation: react 1s linear forwards;
}
.react span {
    border: 1px solid var(--highlighted-text);
}

@keyframes html{
    100%{
        width: 86%;
    }
}
@keyframes css{
    100%{
        width: 80%;
    }
}
@keyframes javascript{
    100%{
        width: 70%;
    }
}
@keyframes jquery{
    100%{
        width: 60%;
    }
}
@keyframes react{
    100%{
        width: 65%;
    }
}
